

<%- include("../partials/header") %>

<h2>My index page</h2>

<div class="post-cards">
  <% for (let cohort of cohorts) { %> 
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">
       
        <img src= "<%= cohort.logoUrl %>" alt="..." class="img-rounded" height="50"  >
          <%= cohort.name%> <br>
          <%= cohort.members %>
        
        </h5>
        <form action="/showCohort/<%= cohort.id %>" method= "POST">
        <input type="submit" value="Show Cohort" class="btn btn-primary">
        </form>
      </div>
    </div>
  <% } %>
</div>

<%- include("../partials/footer") %>